@font-face{
    font-family:FZBIAOYSK--GBK1-0;
    src: local('FZBIAOYSK--GBK1-0') ,url('FZBIAOYSK.TTF') format('truetype');
}
.app_new_detail {
    background-color:#fff;
    /* background-color:#F6F6F6; */
}
.app_new_detail.modelyj {
    background-color: #262626; 
    /* background-color: #222222; */
}

.img_default{
    background-image: url('./imageBack@2x.png');
}
.modelyj .img_default{
    background-image: url('./imageBack_night@2x.png');
}
/* 字体类型 */
.defultft.app_new_detail {
    font:12px/18px "",sans-serif;
}
.songtift.app_new_detail {
    font:12px/18px "FZBIAOYSK--GBK1-0",sans-serif;
}